{
  "default_substore_url": "",
  "profiles": {},
  "wireguard_profiles": {
    "home-wg": {
      "private_key": "",
      "self_ip": "",
      "self_ip_v6": "",
      "dns_server": "192.168.100.1:1053",
      "peer_public_key": "",
      "endpoint": "",
      "allowed_ips": "0.0.0.0/0, ::/0",
      "keepalive": 25
    }
  }
}
